*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Estiliza o Header */
  header{
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #00372E;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }

/* Estiliza o body */
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

/* Alinha os seletores */
  .containerSeletores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 9px;
  }

/* Estiliza os seletores */
  select { 
    font-size: 16px; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    background-color: rgb(238, 238, 238);
  }

  select:hover{
    border: 1px solid #00372E;
    cursor: pointer;
  }

/* Estiliza o checkBox  */
  .diasExtras{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #00372E;
    margin: 15px 0 15px 0;
    padding: 13px 5px 1px 2px;
    width: 100rem;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
  }
  
  .diasExtras input[type="checkbox"]{
    display: inline-block;
  }

  .diasExtras input[type="checkbox"]:hover{
    cursor: pointer;
  }

  .diaDomingo{
    display: flex;
    flex-direction: column;
  }

  .diaFeriado{
    display: flex;
    flex-direction: column;
  }

/* Estiliza os botões */
  .btnsSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  button{
    border: none;
    padding: 10px 12px;
    border-radius: 10px;
    color: white;
  }

  button:hover{
    cursor: pointer;
  }

  .btnAdicionar{
    background-color: green;
  }.btnAdicionar:hover{
    background-color: #015e4e;
  }

  .btnRemoverDia{
    background-color: rgb(189, 0, 0);
  }.btnRemoverDia:hover{
    background-color: rgb(226, 3, 3);
  }

  .btnRemoverFuncionario{
    background-color: rgb(181, 118, 0);
  }.btnRemoverFuncionario:hover{
    background-color: rgb(221, 145, 2);
  }

  .btnCopiar{
    background-color: rgb(90, 1, 90);
  }.btnCopiar:hover{
    background-color: rgb(136, 1, 136);
  }

/* Container Dias trabalhados */
  .caixaDiasTrabalhados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleDiasTrabalhados{
    color: #00372E;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .funcionariosTrab{
    display: flex;
    gap: 20px;
  }

  .pTrabalho{
    border: 1px solid black;
    padding: 6px;
    border-radius: 7px;
    background-color: #00372E;
    color: white;
  }
  