
* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
  font-family: Roboto,sans-serif;
  overflow-x: hidden;
}


body {
 
  background-color: #FFFFFF;
}

header{
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 100%;
  height: 7rem;
  overflow-y: hidden;
  

}
header img{
  max-width: 100%;
  margin-left: 4rem;
}

.containerPai{
  margin: 3rem  5rem 3rem 5rem;
  width: auto;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: 2px;
  border-top: #00372E 1px solid ;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  
}
 .containerPai h1{
  text-align: center;
  color:#00372E;
  
}
.containerSeletor{
  text-align: center;
}
.funcionarioSelected{
  margin: auto;
  width: auto;
  text-align: center;
}
select, 
option, 
button{
  width: auto;
  height: 2rem;
  outline: none;
  font-size: 1rem;
  border-radius: 8px;
  text-align: center;
  color: grey;
  
}
.diaSelected, .funcaoSelected, .btnsSubmit, .buttondownload{
   text-align: center;
}
.diasExtras{
  padding: 5px;
  text-align: center;
  justify-content: center;
}
button{
  border: none;
  padding: 5px;
  color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-weight: bold;

}.btnAdicionar, .btnRemoverDia, .btnRemoverFuncionario, .btnCopiar{
  background-color:#0a832a;
  
}

.donwloadPdf, .btnAdicionar:hover{
  background-color:#4CAF50;
}
.btnRemoverDia:hover{
  background-color: #b42b2b;
}
.btnRemoverFuncionario:hover{
  background-color: #d6d334;
}
.btnCopiar:hover{
  background-color: rgb(52, 52, 160);
}
.tituloTrab{
  text-align: center;
}
h4{
  margin: 1rem;
  color:#A3A3A3;
}
.funcionariosTrab{
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.funcionariosTrab p{
  width: auto;
  height: 2rem;
  border:1px solid grey;
  font-size: 1rem;
  border-radius: 8px;
  text-align: center;
  color: grey;
  padding: 6px;
}
.containerTabelaMes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.diaAdicionado{
  width: auto;
  font-size: 1rem;
  margin: 0.8rem;
  padding: 5px;
  background-color: rgb(214, 216, 219);
  border-radius: 8px;
  border: 1px solid grey;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttondownload{
  margin: 1rem;
  
}
footer{
  background-color: #00372E;
  height: 10vh;
  color: #FFFFFF;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

@media (max-width: 600px) {
  .containerPai{
    margin: 2rem;
  }
  header{
    margin: 0;
    text-align: center;
  }
  header img{
   margin: 0;
  }
  .diaSelected, .funcaoSelected, .btnsSubmit, .buttondownload{
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .funcionariosTrab{
    flex-direction: column;
  }
 
    
}
